@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-orange: #fd853a;
  --color-secondary-black: #171717;

  /* Font Family */
  --font-urbanist: var(--font-urbanist);
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-urbanist;
}

.container {
  @apply max-w-[1320px] mx-auto px-5 lg:px-10 xl:px-5;
}
